:root {
    --main-bg-color: #FFC53A;
    --sec-bg-color: #161032;
    --third-bg-color: #B26700;
    --text-main-color: #FAFF81;
    --text-sec-color: #332E3C;
}

#changeThemeContainer {
    width: 100px;
    height: 40px;
    padding: 0px 5px;
    border-radius: 32px;
    border: 4px solid var(--sec-bg-color);
    display: flex;
    align-items: center;
}

#changeTheme {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--sec-bg-color);
    transition: 0.25s ease-in-out;
}

#changeTheme.toggle {
    transform: translateX(55px);
}

* {
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    height: 100px;
    background-color: var(--main-bg-color);
    letter-spacing: 8px;
    padding: 0px 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 0px 1px black;
    transition: 1s ease-in-out;
}

.icon {
    color: var(--text-sec-color);
    white-space: nowrap;
    font-size: 28px;
    text-align: center;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    min-width: 25px;
    min-height: 35px;
    width: 25px;
    height: 35px;
    padding: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 4px var(--text-sec-color);
    transition: 1s ease-in-out;
}

.icon:hover {
    font-size: 32px;
    font-weight: bolder;
    width: 450px;
    min-width: 450px;
}

.menu  {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    gap: 20px;
}

.content {
    width: 100%;
    min-height: 1000px;
    box-sizing: content-box;
    border-top: 20px double var(--main-bg-color);
    transition: 1s ease-in-out;
}

#bio {
    background-color: var(--sec-bg-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#bioContainer {
    box-sizing: content-box;
    max-width: 1200px;
    max-height: 800px;
    width: 100%;
    height: auto;
    opacity: 0;
    padding: 0px 0px;
    margin: 0px 100px;
    gap: 20px;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#bioTitle {
    font-size: 36px;
    min-width: 100px;
    max-width: 600px;
    width: 100%;
    height: auto;
    z-index: 1;
    color: var(--text-main-color);
    flex: auto;
}

#bioImg {
    align-self: center;
    min-width: 100px;
    max-width: 600px;
    width: 100%;
    height: auto;
    transform: translate(0px,0px);
    border: 24px double var(--main-bg-color);
    border-radius: 8px;
    flex: auto;
}

#bioInfo {
    align-self: flex-end;
    background-color: var(--main-bg-color);
    min-width: 100px;
    max-width: 600px;
    width: 100%;
    height: auto;
    padding: 40px;
    gap: 20px;
    border-left: 12px solid var(--third-bg-color);
    border-radius: 32px;
    flex: auto;

    display: flex;
    flex-flow: column nowrap;

    font-size: 16px;
    color: var(--text-sec-color);
}



#myWork {
    background-color: var(--sec-bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.workContainer {
    opacity: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 32px;
    margin: 20px 0px;
    padding: 20px;
    gap: 20px;
    flex: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.workImg {
    min-width: 100px;
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 32px;
    border: 24px double var(--main-bg-color);
    /* box-shadow: -4px 4px 12px 1px var(--third-bg-color); */
}

.workInfo {
    min-width: 100px;
    max-width: 600px;
    color: var(--text-sec-color);
    background-color: var(--main-bg-color);
    border-radius: 12px;
    border-left: 12px solid var(--third-bg-color);
    /* box-shadow: 4px -4px 12px 1px var(--third-bg-color); */
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    gap: 20px;
}

#skills {
    background-color: var(--sec-bg-color);

    display: flex;
    justify-content: center;
}

.skillImages {
    width: 150px;
    height: auto;
}

.techContainer {
    width: 1200px;
    height: auto;
    margin: 50px 0px;
    gap: 40px;
    color: var(--text-main-color);
    font-size: 24px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#webTech , #gameTech {
    width: 100%;
    height: auto;
    gap: 40px;


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#contact {
    background-color: var(--sec-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactContainer {
    max-width: 600px;
    width: 100%;
    height: auto;
    font-size: 24px;
    gap: 40px;
    color: var(--text-main-color);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.footer {
    height: 50px;
    color: var(--sec-bg-color);
    background-color: var(--main-bg-color);
    gap: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    width: 100px;
    height: 40px;
    background-color: #FFC53A;
    border-radius: 16px;
}

.socialImg , .workImg {
    transition: 0.25s ease-out;
}

.socialImg:hover {
    transform: scale(1.2);
}

/* Animations and Buttons */

button {
    all: unset;
    color: var(--text-sec-color);
    font-size: 18px;
    font-weight: bolder;
    border-radius: 8px;
    transition: 0.25s ease-out 0s;
}
button:hover {
    color: var(--text-sec-color);
    font-size: 24px;
}
button:active {
    transform: scale(1.1);
}

.sticky {
    z-index: 99;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    box-shadow: 0px 4px 8px 1px black;
}

.sticky + #bio {
    padding-top: 102px;
}

a {
    text-decoration:none;
}

.moveRight {
    animation-duration: 2s;
    animation-name: move-right;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.moveLeft {
    animation-duration: 2s;
    animation-name: move-left;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.moveUp {
    animation-duration: 2s;
    animation-name: move-up;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.moveDown {
    animation-duration: 2s;
    animation-name: move-down;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes move-right {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
  
    to {
        opacity: 1;
    }
}
@keyframes move-left {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
  
    to {
        opacity: 1;
    }
}
@keyframes move-up {
    from {
      opacity: 0;
      transform: translate(0px,200px);
    }
  
    to {
        opacity: 1;
    }
}
@keyframes move-down {
    from {
      opacity: 0;
      transform: translate(0px,-200px);
    }
  
    to {
        opacity: 1;
    }
}